.user__data {
  padding-top: 30px;
  display: flex;
  background: white;
  margin: 32px 16px;
  justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 767px) {
  .user__data {
    flex-direction: column;
    margin: 0;
  }
}
